@{
  Layout = "_Layout";
}

@model MusicOrganizer.Models.Song

<h2>Edit</h2>

<h4>Edit this song's info:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SongId)
  
  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)
  <p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  
  @Html.LabelFor(model => model.Album)
  @Html.DropDownList("AlbumId")

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to songs", "Index")</p>