@{
  Layout = "_Layout";
}

@model MusicOrganizer.Models.Artist

<h2>Edit</h2>

<h4>Edit this artist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArtistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to artists", "Index")</p>